.graphic {
    position: relative;
}

.overlay {
    left: 0px;
    top: 0px;
    z-index: 10;
    height: 100%;
    position: absolute;
    padding: 50px 10px;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, .95);
}

.grid {
    .grid-item {
        max-width: 25% !important;
        height: 200px;
        overflow-y: hidden;
        img {
            max-height: 300px;
            height: 120%;
            min-height: 200px !important;
        }
    }
}
